[submodule "path_planning_dynamic"]
	path = path_planning_dynamic
	url = https://github.com/JossueE/path_planning_dynamic.git
	branch = main

[submodule "nmpc_controller"]
	path = nmpc_controller
	url = https://github.com/JossueE/nmpc_controller.git
	branch = main
